@use "mixins";
@use "variables";

.is-full-page-height {
  height: 100vh;
}

.decks {
  @include mixins.mobile-only {
    &.is-fluid {
      padding-inline: 1rem;
    }
  }

  &__add-decks-form {
    flex-grow: 1;

    @include mixins.from(variables.$bulma-breakpoint-tablet) {
      flex-grow: 0;
    }
  }

  .deck-row-actions {
    display: flex;

    &__edit:hover {
      color: var(--bulma-primary);
    }

    &__delete:hover {
      color: var(--bulma-danger);
    }
  }
}